@import 'tailwindcss';
@import 'primeicons/primeicons.css';

.truncate-text {
  display: inline-block;
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-dialog-content {
  padding-bottom: 0 !important;
}
.router-link-active {
  font-weight: bold;
  color: #111827b9;
  text-decoration: underline;
}
